[MESSAGES CONTROL]
disable = import-error,
          invalid-name,
          logging-format-interpolation,
          logging-fstring-interpolation,
          missing-class-docstring,
          missing-function-docstring,
          missing-module-docstring,
          no-else-continue,
          no-else-raise,
          no-else-return,
          redefined-builtin,
          redefined-outer-name,
          too-few-public-methods,
          too-many-arguments,
          too-many-branches,
          too-many-instance-attributes,
          too-many-locals,
          too-many-nested-blocks,
          too-many-return-statements,
          unused-argument,
