# Ruff configuration
[tool.ruff]
line-length = 88
target-version = 'py312'
required-version = "0.7.3" # keep in sync with dev dependencies!
src = ["validator"]
extend-exclude = [
    ".local", # used by poetry in local venv
    ".cache", # used by poetry in local venv
]
fix = true

[tool.ruff.lint]
preview = true
# defaults are ["E4", "E7", "E9", "F"]
extend-select = [
    # flake8 default rules
    "E1", # preview rule
    "E2", # preview rule
    "W",
    # isort
    "I",
    # pylint
    "PL",
    # pyupgrade
    "UP",
]
ignore = [
    "PLR0904", # Too many public methods
    "PLR0913", # Too many arguments
    "PLR0917", # Too many positional arguments
    "PLR0912", # Too many branches
    "PLR0914", # Too many local variables
    "PLR1702", # Too many nested blocks
    "PLR0911", # Too many return statements

]
[tool.ruff.format]
preview = true

[tool.ruff.lint.isort]
known-first-party = ["validator"]

# Mypy configuration
[tool.mypy]
files = ["validator"]
enable_error_code = ["truthy-bool", "redundant-expr"]
no_implicit_optional = true
check_untyped_defs = true
warn_unused_ignores = true
show_error_codes = true
disallow_untyped_defs = true
disallow_incomplete_defs = true

[[tool.mypy.overrides]]
# Below are all of the packages that don't implement stub packages. Mypy will throw an error if we don't ignore the
# missing imports. See: https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-imports
module = ["jsonpath_ng.*", "pytest.*"]
ignore_missing_imports = true

# TODO: add type hints everywhere!
[[tool.mypy.overrides]]
module = ["validator.*"]
check_untyped_defs = false
disallow_untyped_defs = false
disallow_incomplete_defs = false

# TODO: fix typing errors in postprocess
[[tool.mypy.overrides]]
module = ["validator.postprocess"]
ignore_errors = true
